<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8f293f3c-73c3-41e5-85a5-427a23d7d71e/resourceGroups/webAPI/providers/Microsoft.Web/sites/API-WEB3</ResourceId>
    <ResourceGroup>webAPI</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://api-web3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>13464c7c-9a3d-4c8f-b0dd-6800b141b22c</ProjectGuid>
    <PublishUrl>https://api-web3.scm.azurewebsites.net/</PublishUrl>
    <UserName>$API-WEB3</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>